{% extends 'base.html' %}
    {% block body %}
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <h1>Blog</h1>
                        <ul>
                            {% for post in posts %}
                            <li>
                                <a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a> by {{ post.author }} ({{ post.created_at }})
                                <li>---------------------------------------------------------------------------------------------------------------------------------------</li>
                            </li>
                            {% endfor %}
                        </ul>
                        <a href="{% url 'blog:post_create' %}" class="btn btn-edit" style=" background-color: #4CAF50;">New Post</a>
                        
                        <!-- Pagination and other sidebar elements here -->

                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- Sidebar elements here -->
                    <div class="blog_right_sidebar">
                        <!-- Search widget, Categories, Recent Posts, etc. -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    

  
    {% endblock %}
