{% extends 'base.html' %}
{% block body %}
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        
                        <h1>{{ post.title }}</h1>
                        <p>by {{ post.author }} on {{ post.created_at }}</p>
                        <p>{{ post.body }}</p>
                        <a href="{% url 'blog:post_update' post.pk %}" class="btn btn-edit" style=" background-color: #4CAF50;">Edit</a>
                        <a href="{% url 'blog:post_delete' post.pk %}" class="btn btn-edit" style=" background-color: #4CAF50;">Delete</a>
                        <a href="{% url 'blog:post_list' %}" class="btn btn-edit" style=" background-color: #4CAF50;">Back to Blog</a>

                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- Sidebar elements here -->
                    <div class="blog_right_sidebar">
                        <!-- Search widget, Categories, Recent Posts, etc. -->
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

