{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    <h1>Blog</h1>
                    <h2>{{ view.object.title|default:'New Post' }}</h2>
                    <form method= "POST" enctype="multipart/form-data">
                        
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <button class="boxed-btn3 w-100" type="submit" class="btn btn-edit">Post</button>
                    {% endbuttons %}
                    </form>
                    <a href="{% url 'blog:post_list' %}" class="btn btn-edit" style=" background-color: #4CAF50;">Cancel</a>
                    
                    
                    <!-- Pagination and other sidebar elements here -->

                </div>
            </div>
            <div class="col-lg-4">
                <!-- Sidebar elements here -->
                <div class="blog_right_sidebar">
                    <!-- Search widget, Categories, Recent Posts, etc. -->
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

